<template>
  <div id="app">
    <h1>TodoShka</h1>
    <AddTodo @add-todo="addTodo" />
    <hr />
    <TodoList v-bind:todos="todos" @remove-todo="removeTodo" />
  </div>
</template>

<script>
import TodoList from "@/components/TodoList";
import AddTodo from "@/components/AddTodo";
export default {
  name: "App",
  components: {
    TodoList,
    AddTodo
  },
  data() {
    return {
      todos: [
        { id: 1, title: "купить хлеп", completed: false },
        { id: 2, title: "купить хлеп2", completed: false },
        { id: 3, title: "купить хлеп3", completed: false },
        { id: 4, title: "купить хлеп4", completed: false },
        { id: 5, title: "купить хлеп5", completed: false },
        { id: 6, title: "купить ещё хлеп6", completed: false }
      ]
    };
  },
  methods: {
    removeTodo(id) {
      this.todos = this.todos.filter(t => t.id !== id);
    },
    addTodo(todo) {
      this.todos.push(todo);
    }
  }
};
</script>

<style>
#app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
html {
  background-color: azure;
}
</style>
